{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Edit Event{% endblock %}

{% block body %}
<div class="container">
  <div style="max-width: 45rem;">
    <h1 class="my-3">Edit Event</h1>

    {{ include('event/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary mb-3" style="width: 10rem;" href="{{ path('app_event_index') }}">Back</a>
  </div>
</div>

{% endblock %}