@import url("https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Comic+Relief:wght@400;700&family=Playwrite+DE+Grund:wght@100..400&family=Sriracha&display=swap");

body {
    background-color: whitesmoke;
}

.img-text-overlay {
    position: absolute;
    top: 25%;
    left: 12%;
    transform: translate(0, -50%);
    font-weight: 200;
    font-size: 2.5rem;
    color: rgba(245, 245, 245, 0.7);
}

@media (width < 576px) {
    .img-text-overlay {
        top: 50%;
        left: 2.5%;
        transform: translate(0, -50%);
    }
}

.font-family-sriracha {
    font-family: "Sriracha", cursive;
}

.font-family-allan {
    font-family: "Allan", serif;
}

.font-family-allan-bold {
    font-family: "Allan", serif;
    font-weight: 700;
    font-style: normal;
}

.font-family-playwrite-de-grund {
    font-family: "Playwrite DE Grund", cursive;
}

.comic-relief {
    font-family: "Comic Relief", system-ui;
}

.comic-relief-bold {
    font-family: "Comic Relief", system-ui;
    font-weight: 700;
    font-style: normal;
}

#website-title {
    position: absolute;
    top: -22.5px;
    left: 0;
    height: 48px;
    font-size: 40px;
}
